<?xml version="1.0" encoding="gb2312"?>
<config>
  <item labelText="网站名称" name="webName">webname</item>
  <item labelText="网站关键词" name="webKeywords">
  </item>
  <item labelText="网站描述" name="webDescription" multiLine="true">
  </item>
  <item labelText="版权信息" name="webCopyright">
  </item>
</config>